<!--<p>
  eventedit works!

  https://angular.io/guide/template-syntax

  [()] - two way binding

</p>-->
<div class="container">

  <ng-template #other_content>loading event editor...</ng-template>

  <div *ngIf="isDataAvailable;else other_content">

    <h1>Edit Event - {{ motorsportEvent.name}}</h1>

    <!--Bind the form's ngSubmit to the onSubmit method-->
    <form #eventEditForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="motorsportEvent.name" name="name"
        #name="ngModel">
        <br/>
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>

      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-6" style="margin-right: 10px;">
            <div class="form-group">
              <label for="startDate">Start Date</label>
              <br/>
              <p-calendar [(ngModel)]="motorsportEvent.startDate" id="startDate" name="startDate" dateFormat="dd/mm/yy"></p-calendar>
            </div>
          </div>
          <div class="col-xs-6" style="margin-left: 10px;">
            <div class="form-group">
              <label for="endDate">End Date</label>
              <br/>
              <p-calendar [(ngModel)]="motorsportEvent.endDate" id="endDate" name="endDate" dateFormat="dd/mm/yy"></p-calendar>
            </div>
          </div>
        </div>
      </div>



      <div class="form-group">
        <label for="unitsRequired">Units required</label>
        <input type="number" class="form-control" id="unitsRequired"
               required
               [(ngModel)]="motorsportEvent.unitsRequired" name="unitsRequired">
        <br/>
        <p>TODO: remove this: {{motorsportEvent.unitsRequired}}</p>
      </div>

      <div class="form-group">
        <label for="crewRequired">Crew required</label>
        <input type="number" class="form-control" id="crewRequired"
               required
               [(ngModel)]="motorsportEvent.crewRequired" name="crewRequired">
        <br/>
        <p>TODO: remove this: {{motorsportEvent.crewRequired}}</p>
      </div>

      <div class="form-group">
        <label for="rescueunit">Unit selection</label>
        <select class="form-control" id="rescueunit" required>
          <option *ngFor="let unit of rescueUnits" [value]="unit">{{unit}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!eventEditForm.form.valid">Submit</button>

       <button routerLink="/event-detail/{{eventId}}" type="submit" class="btn btn-primary" >
         Cancel
       </button>

    </form>

  </div>

</div>
