<!--Elvis operator ?-->
<h1>
  {{ (motorsportEvent | async)?.name }}
</h1>

<div class="alert alert-success alert-dismissable">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> Indicates a successful or positive action.
</div>

<hr/>
<button routerLink="/event-edit/{{eventId}}" type="submit" class="btn btn-primary" >
  Edit
</button>
<button [routerLink]="'/events'" type="submit" class="btn btn-primary" >
  Back to Events
</button>
<hr/>
  <p>Start  - {{(motorsportEvent | async)?.startDate | date}}</p>
  <p>Finish - {{(motorsportEvent | async)?.endDate | date}}</p>
  <p>Units required -  {{(motorsportEvent | async)?.unitsRequired}}</p>
  <p>Crew required - {{(motorsportEvent | async)?.crewRequired}}</p>

  <ul>
    <li *ngFor="let crewMember of (motorsportEvent | async)?.crew">
      <p>{{crewMember.firstName}} {{crewMember.lastName}}</p>
    </li>

  </ul>


<!--<p-dataGrid [value]="cars">
  <ng-template let-car pTemplate="item">
    <div class="ui-g-12 ui-md-3">
      Car content
    </div>
  </ng-template>
</p-dataGrid>-->

