<!--Elvis operator ?-->
<h1>
  {{motorsportEvent?.name}}
</h1>
  <p>Start  - {{motorsportEvent?.startDate | date}}</p>
  <p>Finish - {{motorsportEvent?.endDate | date}}</p>
  <p>Units required -  {{motorsportEvent?.unitsRequired}}</p>
  <p>Crew required - {{motorsportEvent?.crewRequired}}</p>

  <ul>
    <li *ngFor="let crewMember of motorsportEvent?.crew">
      <p>{{crewMember.firstName}} {{crewMember.lastName}}</p>
    </li>

  </ul>
<!--<p-dataGrid [value]="cars">
  <ng-template let-car pTemplate="item">
    <div class="ui-g-12 ui-md-3">
      Car content
    </div>
  </ng-template>
</p-dataGrid>-->
<button [routerLink]="'/events'" type="submit" class="btn btn-primary" >
  Back to Events
</button>
